header {
    text-align: center;
    background-color: #EEE;
    margin-bottom: 0px;
    padding: 10px;
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #8b0b0b;
    text-decoration: underline;
}