<div class="form-card">
    <h2>NOUVEAU FACESNAP</h2>
    <form [formGroup]="snapForm">
        <div class="form-group">
            <label for="title">Titre : </label>
            <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
            <label for="description">Description : </label>
            <textarea type="text" id="Description" formControlName="description" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="imgUrl">URL de l'image : </label>
            <input type="text" id="imgUrl" formControlName="imgUrl">
        </div>
        <div class="form-group">
            <label for="location">location : </label>
            <input type="text" id="location" formControlName="location">
        </div>
        <div class="action-buttons">
            <button type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
        </div>
    </form>
</div>
<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p>Mis en ligne le {{ faceSnap.createDate | date : 'dd/MM/yy, à HH:mm'}}</p>
    <img [src]="faceSnap.imgUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{faceSnap.location}}</p>
    <p>
</div>