.landing-block {

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 50%);

}

.landing-links {

    margin-bottom: 20%;
    width: 100%;
    text-align: center;
}

button {
    margin-top: 50px;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5px 10px;
    border: none;
    box-shadow: lightgray 3px 3px 7px;
    margin-right: 20px;
    font-weight: 500;
    font-size: 20px;

    &:active {
        transform: translate(1px, 1px);
        box-shadow: lightgray 0 0 5px;
    }
}